
body {
    width: 80%;
    margin: 0 auto;
    background-color: #E2F3F9;
    font-family: 'Roboto', sans-serif;
    color: #2A2E2D;
    border: 10px solid #043442;
    border-radius: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}
header {
    background-color: #043442;
    text-align: center;
    color: white;
    padding: 0.5em;
    margin: 0;
    font-size: 2em;
}
main {
    display: flex;
    background-color: #E2F3F9;
}
.main-section {
    padding: 1em;
}
.main-section h2 {
    color: #B29155;
    border-bottom: 3px solid #B29155;
}
aside {
    width: 75%;
    background-color: #B29155;
    color: white;
    padding: 1em;
}
.avatar {
    width: 100%;
    border-radius: 50%;
    border: 5px solid white;
}
aside h2 {
    border-bottom: 3px solid white;
}
aside img {
    width: 64px;
}
aside div {
    display: flex;
    justify-content: flex-start;
    padding: 5% 5%;
}
aside div p {
    margin-left: 20%;
}
.main-section p {
    text-align: center;
}
pre {
    background-color: white;
    width: 80%;
    margin: 0 auto;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #043442;
    color: white;
    padding: 1em;
}
footer img {
    width: 5em;
}
a {
    color: #2A2E2D;
}
